<svelte:head>
  <title>File-over-app Directory</title>
</svelte:head>
<View class="gap-16 p-16 min-h-screen items-center bg-[#F9F5F2] m-8 rounded-2xl">
  <Row class="max-w-5xl">
    <Column class="max-w-[472px] gap-4">
      <Text.H1 class="font-bold text-center">File-over-app Directory</Text.H1>
      <Text.H4 class="text-neutral-500 mt-2 text-center">If you want to create digital artifacts that last, they must be files you can control, in formats that are easy to retrieve and read. Use tools that give you this freedom.</Text.H4>
      <Text.H4 class="text-neutral-400 mt-2 italic text-center">
        — Steph Ango, <a href="https://stephango.com/file-over-app" class="underline" target="_blank">File over app</a>
      </Text.H4>
    </Column>
  </Row>

  <Row class="gap-12 w-full max-w-5xl">
    <Column class="basis-3/12 gap-4">
      <Text.H3 class="font-semibold">Categories</Text.H3>
      {#await runQuery('categories') then rows}
        {#each rows as row}
          <a href={`#${row.category}`} class="text-sm font-semibold text-neutral-500 hover:text-neutral-800">{row.category}</a>
        {/each}
      {/await}
      <Column class="gap-2 mt-8">
        <Text.H4 class="font-semibold">Submit a product</Text.H4>
        <Text.H4 class="text-neutral-600">Missing a tool? Submit a pull request to add it.</Text.H4>
        <a href="https://github.com/latitude-dev/latitude" target="_blank" class="font-semibold text-blue-500">Add yours →</a>
      </Column>
    </Column>
    <Column class="basis-9/12 gap-4">
      <Input class="w-full max-w-full border-0 shadow-none rounded-lg bg-[#E8E4E0] focus-visible:ring-0" param='name' placeholder="Search…" />
      {#await runQuery('products') then products}
        {#each products.map(p => p.category).filter((value, index, self) => self.indexOf(value) === index) as category}
          <a id={category}><Text.H3 class="font-semibold mt-4">{category}</Text.H3></a>
          <Row class="grid grid-cols-2 gap-8 mt-2">
            {#each products.filter(p => p.category === category) as product}
              <a href={product.url} target="_blank" rel="nofollow" class="p-6 rounded-xl flex flex-col gap-2 bg-white">
                <Text.H4 class="font-semibold">{product.name}</Text.H4>
                <Text.H4 class="text-neutral-400">{product.description}</Text.H4>
                <Row class="gap-2 mt-1">
                  {#each product.extensions_array as extension}
                    <Text.H6 class="font-medium text-neutral-600 bg-neutral-100 px-2 py-1 rounded-md">{extension}</Text.H6>
                  {/each}
                </Row>
              </a>
            {/each}
          </Row>
        {/each}
      {:catch}
        <Text.H4 class='text-neutral-500'>Loading...</Text.H4>
      {/await}
    </Column>
  </Row>
</View>
<div class="pt-1"></div>
